<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/#">
    <img class="rounded" src="../img/logo.png" alt="" width="100" height="100">
  </a>
  <a class="navbar-brand" href="https://www.instagram.com/leedsesg/" target="_blank">
    <img class="rounded" src="../img/ig_icon.png" alt="" width="70" height="70">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="h3 navbar-nav mr-5 ml-auto">
      <li class="nav-item mx-5">
      <a class="nav-link <%- (pagename=="home" ? "active" : "") %>" href="/">Home</a>
      </li>
      <li class="nav-item mx-5">
      <a class="nav-link <%- (pagename=="whatisesg" ? "active" : "") %>" href="/WhatIsESG">What Is ESG?</a>
      </li>
      <li class="nav-item mx-5">
      <a class="nav-link <%- (pagename=="environment" ? "active" : "") %>" href="/Environment">Environment</a>
      </li>
      <li class="nav-item mx-5">
      <a class="nav-link <%- (pagename=="social" ? "active" : "") %>" href="/Social">Social</a>
      </li>
      <li class="nav-item mx-5">
      <a class="nav-link <%- (pagename=="governance" ? "active" : "") %>" href="/Governance">Governance</a>
      </li>
      <li class="nav-item mx-5">
      <a class="nav-link <%- (pagename=="newsletter" ? "active" : "") %>" href="/Newsletter">Newsletter</a>
      </li>
      <li class="nav-item mx-5">
      <a class="nav-link <%- (pagename=="aboutus" ? "active" : "") %>" href="/AboutUs">About Us</a>
      </li>
    </ul>
  </div>
</nav>
